{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"arrowParens": "always"
}
